@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

@mixin wrapper-position($horizontal, $vertical) {
    @if $horizontal == 'top' {
        top: 0;
    }
    @else {
        bottom: 0;
    }
    @if $vertical == 'right' {
        right: 0;
    }
    @else {
        left: 0;
    }
}

.#{$prefix}notification-wrapper {
    position: fixed;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.#{$prefix}notification-wrapper-top-left {
    @include wrapper-position('top', 'left');
}

.#{$prefix}notification-wrapper-top-right {
    @include wrapper-position('top', 'right');
}

.#{$prefix}notification-wrapper-bottom-left {
    @include wrapper-position('bottom', 'left');
}

.#{$prefix}notification-wrapper-bottom-right {
    @include wrapper-position('bottom', 'right');
}

.#{$prefix}notification {
    margin: ($base-padding * 1.6);
    padding: ($base-padding * 1.2) ($base-padding * 1.8);
    box-sizing: border-box;
    width: 360px;
    border-radius: $border-radius-base;
    background-color: $background-color-light;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    flex: none;
    transition: all $anim-duration ease-in-out;
}

.#{$prefix}notification-icon {
    font-size: $font-size-base + 4px;
    flex: none;
    margin: 0 ($base-padding * 0.8) 0 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

.#{$prefix}notification-icon-bigger {
    font-size: $font-size-base + 12px;
    margin-right: $base-padding * 1.4;
    padding-top: $base-padding * 0.6;
}

.#{$prefix}notification-info {
    color: $info-color;
}

.#{$prefix}notification-success {
    color: $success-color;
}

.#{$prefix}notification-error {
    color: $error-color;
}

.#{$prefix}notification-warning {
    color: $warning-color;
}

.#{$prefix}notification-inner {
    flex: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font-size-base;
    line-height: $font-size-base + 4px;
}

.#{$prefix}notification-title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-color-base;
}

.#{$prefix}notification-content {
    margin: 0;
    box-sizing: border-box;
    padding: ($base-padding * 0.8) 0 0 0;
    color: $text-color-gray;
}

.#{$prefix}notification-close {
    position: absolute;
    color: $text-color-light;
    cursor: pointer;
    transition: color $anim-duration ease-in;
    font-size: $font-size-small;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    border: none;
    right: $base-padding - 2px;
    top: ($base-padding * 1.2);
    line-height: $line-height-base;

    &:hover {
        color: $text-color-base;
    }
}

@keyframes #{$prefix}notification-right-trans {
    0% {
        transform: translateX(100%);
        height: 0;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes #{$prefix}notification-left-trans {
    0% {
        transform: translateX(-100%);
        height: 0;
    }

    100% {
        transform: translateX(0);
    }
}

@mixin notification-transition($placement, $anim) {
    .#{$prefix}notification-#{$placement}-enter {
        animation-name: $anim;
    }

    .#{$prefix}notification-#{$placement}-leave {
        animation-name: $anim;
        animation-direction: reverse;
    }
}

.#{$prefix}notification-appear {
    animation-duration: $anim-duration;
    animation-timing-function: ease-in-out;
}

@include notification-transition(left, #{$prefix}notification-left-trans);
@include notification-transition(right, #{$prefix}notification-right-trans);

@media only screen and (max-width: #{$screen-small}) {
    .#{$prefix}notification-wrapper {
        display: flex;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
    }

    .#{$prefix}notification {
        width: 300px;
        margin-left: 0;
        margin-right: 0;
    }
}
